@{
    ViewBag.Title = "About";
}

<div class="about-block" style="min-height: 78vh; text-align: center">
    <h1 style="text-align: center;">About an event board</h1>

    <p class="lead" style="width: 66%;margin-left: 16%;">Event Board is a service that helps people to find large events as well as open mini-events, share information, monitor any news, changes, add event to personal calendar, etc.</p>
    <p class="lead" style="width: 66%; margin-left: 16%;">As possible feature we plan integration with Google Calendar and other third parties.</p>
</div>