@{
    ViewBag.Title = "Contacts";
}

<br/>
<div class="contact" style="padding-top:112px; padding-left:40%; min-height: 78vh">
    <h1>@ViewBag.Title</h1>

    <address>
        Lviv National University<br />
        Lviv, 1 Univesitetska str.<br />
    </address>

    <address style="margin-left: -55px;">
        <strong>Support:</strong>   <a href="mailto:EventBoardSupport@gmail.com">EventBoardSupport@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:EventBoardMarketing@gmail.com">EventBoardMarketing@gmail.com</a>
    </address>
</div>