@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron home">
    <h1>Event Board</h1>
    <p class="lead">Event Board is a service that helps people to find large events as well as open mini-events, share information, monitor any news, changes, add event to personal calendar, etc.
    <br /> As possible feature we plan integration with Google Calendar and other third parties.
    </p>

    <p>@Html.ActionLink("View popular events \u00BB", "Index", "Event", null,
            new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-6 description-block-big">
        <h2>Groups</h2>
        <p>
            Event Board gives you a powerful way to create dynamic commuties that
            enables an efficient informations sharing and gives you full control over notification
            for enjoyable, smart and digital leisure organizing and managment.
        </p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Explore &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <div class="description-block block-top">
            <h2>Tags</h2>
            <p>Simple idea of tags allows to add, remove, and update simple labels. It is easy to search by this criteria afterwards.</p>
            <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301866">Explore &raquo;</a></p>
        </div>
        <div class="description-block block-bottom">
            <h2>News</h2>
            <p>You can easily find recent news from events and organizations that allows you to monitor any changes in .</p>
            <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Explore &raquo;</a></p>
        </div>
    </div>
</div>